In [1]:
import pandas as pd
import numpy as np
import math
import pandas_datareader as pdr
import bs4 as bs
import requests
import pandas_ta as ta
import datetime as dt
import warnings
import yfinance as yf
from prophet import Prophet
import seaborn as sns
import matplotlib.pyplot as plt
from multiprocessing import Pool, cpu_count
from pyspark.sql.types import *
from pyspark.sql.functions import pandas_udf, PandasUDFType
from tqdm import tqdm
from time import time
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

warnings.filterwarnings("ignore")

# Title: "Predicting Outperforming S&P 500 Stocks using Close Price and Technical Analysis Indicators"

## Introduction:
- The S&P 100 index is considered to be by some the gold standard benchmark for the stock market performance in the United States. However, not all stocks in the index perform equally well. Some stocks will inevitable outperform others. In this project, 3 machine learning models will be build. They will use stock price and technical analysis indicators to predict which stocks in the S&P 100 will beat the index by 10% or more in one year. By identifying these outperforming stocks, investors can potentially achieve higher returns.

## Data collection:
- Information of all stocks in the S&P 100 will be collected in the past 5 years. Looking at all of the stocks of the S&P500 may be too much data for a home computer to handle. Specifically, we will collect close price, moving averages and candel sticks represented mathematically.  

## Choice of model: 
- There are 3 popular machine learning models for stock prediction:
1) Time-series models 
2) Regression models 
3) Ensemble methods 
- All 3 types of models shall be explored, specifically a prophet time series model, a Support Vector Regression (SVR) model and a random forest model.
- Time-series models, such as ARIMA or SARIMA, are useful for stock prediction as they are well-suited for predicting values based on historical patterns in time-series data. There  is no reason why Prophet was used specifically. 
- SVR was chosen over linear regression because it has 2 advantages over linear regression in stock prediction.
1) Non-linearity: stock performance can be influenced by a large number of factors, some of which may not have a linear relationship. SVR can handle non-linear relationships between inputs and outputs better than linear regression.
2) Outlier handling: SVR is less sensitive to outliers than linear regression, which will exist for sure in the stock market. With SVR, there is a lower chance that outliers will ruin the model.
- Ensemble methods such as random forest and gradient boosting are useful for stock prediction due to their ability to capture complex non-linear relationships and handle high-dimensional data.
- In practice, it is common to use a combination of these methods or to experiment with different models to find the one that provides the best results for a given stock or market. 

## Prediction
- The models will work despite using TA indicators instead of business fundamentals because simple moving averages and candle sticks measure a stocks momentum, and it is well known that stocks that go up tend to keep going up and stocks going down tend to continue to go down.  
- The ensemble model will most likely perform the best. This is because time-series models and regression models unfortunately have some limitations when it comes to handling high-dimensional and complex data. Time-series models assume that the future will follow a similar pattern as the past, and may struggle when that is not the case. Regression models on the other hand assume a linear relationship between the features and the target, and may not capture non-linear relationships in the data.
- Ensemble methods can overcome these limitations by combining the predictions of multiple models to find non-linear and non-cyclical relationships between the features and the target. They also have the advantage of combining the predictions from multiple weak models to produce a more accurate and robust prediction. For these reasons, ensemble methods are effective in handling high-dimensional and complex data like stock movements. 

## Results
### Time-series model: 
- Stocks that beat SPY and when: 
[('AAPL', '2019-12-31'),
 ('ACN', '2019-12-31'),
 ('ADBE', '2019-12-31'),
 ('AMD', '2019-12-31'),
 ('AMT', '2019-12-31'),
 ('BAC', '2019-12-31'),
 ('C', '2019-12-31'),
 ('CHTR', '2019-12-31'),
 ('COST', '2019-12-31'),
 ('DHR', '2019-12-31'),
 ('GE', '2019-12-31'),
 ('GS', '2019-12-31'),
 ('JPM', '2019-12-31'),
 ('LMT', '2019-12-31'),
 ('MA', '2019-12-31'),
 ('MDLZ', '2019-12-31'),
 ('META', '2019-12-31'),
 ('MSFT', '2019-12-31'),
 ('NEE', '2019-12-31'),
 ('NVDA', '2019-12-31'),
 ('QCOM', '2019-12-31'),
 ('RTX', '2019-12-31'),
 ('SO', '2019-12-31'),
 ('T', '2019-12-31'),
 ('TGT', '2019-12-31'),
 ('TMO', '2019-12-31'),
 ('V', '2019-12-31'),
 ('AMZN', '2020-12-31'),
 ('AVGO', '2020-12-31'),
 ('BLK', '2020-12-31'),
 ('CRM', '2020-12-31'),
 ('FDX', '2020-12-31'),
 ('GOOG', '2020-12-31'),
 ('GOOGL', '2020-12-31'),
 ('LLY', '2020-12-31'),
 ('LOW', '2020-12-31'),
 ('MS', '2020-12-31'),
 ('NFLX', '2020-12-31'),
 ('NKE', '2020-12-31'),
 ('PYPL', '2020-12-31'),
 ('TMUS', '2020-12-31'),
 ('TSLA', '2020-12-31'),
 ('TXN', '2020-12-31'),
 ('UPS', '2020-12-31'),
 ('AIG', '2021-12-31'),
 ('COF', '2021-12-31'),
 ('COP', '2021-12-31'),
 ('CSCO', '2021-12-31'),
 ('CVS', '2021-12-31'),
 ('CVX', '2021-12-31'),
 ('F', '2021-12-31'),
 ('GD', '2021-12-31'),
 ('GM', '2021-12-31'),
 ('HD', '2021-12-31'),
 ('PFE', '2021-12-31'),
 ('SCHW', '2021-12-31'),
 ('SPG', '2021-12-31'),
 ('UNH', '2021-12-31'),
 ('WFC', '2021-12-31'),
 ('XOM', '2021-12-31'),
 ('ABBV', '2022-12-30'),
 ('AMGN', '2022-12-30'),
 ('BA', '2022-12-30'),
 ('BMY', '2022-12-30'),
 ('BRK-B', '2022-12-30'),
 ('CAT', '2022-12-30'),
 ('CL', '2022-12-30'),
 ('DUK', '2022-12-30'),
 ('EMR', '2022-12-30'),
 ('EXC', '2022-12-30'),
 ('GILD', '2022-12-30'),
 ('HON', '2022-12-30'),
 ('IBM', '2022-12-30'),
 ('JNJ', '2022-12-30'),
 ('KHC', '2022-12-30'),
 ('KO', '2022-12-30'),
 ('LIN', '2022-12-30'),
 ('MCD', '2022-12-30'),
 ('MET', '2022-12-30'),
 ('MO', '2022-12-30'),
 ('MRK', '2022-12-30'),
 ('ORCL', '2022-12-30'),
 ('PEP', '2022-12-30'),
 ('PG', '2022-12-30'),
 ('PM', '2022-12-30'),
 ('WMT', '2022-12-30')]
- Stocks the model predicted would beat SPY:
[('AAPL', '2019-12-31'),
 ('ABT', '2019-12-31'),
 ('ACN', '2019-12-31'),
 ('ADBE', '2019-12-31'),
 ('AMD', '2019-12-31'),
 ('AMGN', '2019-12-31'),
 ('AMT', '2019-12-31'),
 ('AVGO', '2019-12-31'),
 ('AXP', '2019-12-31'),
 ('BAC', '2019-12-31'),
 ('BLK', '2019-12-31'),
 ('BMY', '2019-12-31'),
 ('C', '2019-12-31'),
 ('CHTR', '2019-12-31'),
 ('CMCSA', '2019-12-31'),
 ('COF', '2019-12-31'),
 ('COST', '2019-12-31'),
 ('DHR', '2019-12-31'),
 ('DIS', '2019-12-31'),
 ('GE', '2019-12-31'),
 ('GOOG', '2019-12-31'),
 ('GOOGL', '2019-12-31'),
 ('GS', '2019-12-31'),
 ('HD', '2019-12-31'),
 ('HON', '2019-12-31'),
 ('INTC', '2019-12-31'),
 ('JPM', '2019-12-31'),
 ('KO', '2019-12-31'),
 ('LIN', '2019-12-31'),
 ('LLY', '2019-12-31'),
 ('LMT', '2019-12-31'),
 ('LOW', '2019-12-31'),
 ('MA', '2019-12-31'),
 ('MDLZ', '2019-12-31'),
 ('MDT', '2019-12-31'),
 ('META', '2019-12-31'),
 ('MRK', '2019-12-31'),
 ('MS', '2019-12-31'),
 ('MSFT', '2019-12-31'),
 ('NEE', '2019-12-31'),
 ('NKE', '2019-12-31'),
 ('NVDA', '2019-12-31'),
 ('PEP', '2019-12-31'),
 ('PG', '2019-12-31'),
 ('PYPL', '2019-12-31'),
 ('QCOM', '2019-12-31'),
 ('RTX', '2019-12-31'),
 ('SBUX', '2019-12-31'),
 ('SO', '2019-12-31'),
 ('SPY', '2019-12-31'),
 ('T', '2019-12-31'),
 ('TGT', '2019-12-31'),
 ('TMO', '2019-12-31'),
 ('TMUS', '2019-12-31'),
 ('TSLA', '2019-12-31'),
 ('TXN', '2019-12-31'),
 ('V', '2019-12-31'),
 ('WMT', '2019-12-31'),
 ('AMZN', '2020-12-31'),
 ('CAT', '2020-12-31'),
 ('CRM', '2020-12-31'),
 ('FDX', '2020-12-31'),
 ('GM', '2020-12-31'),
 ('NFLX', '2020-12-31'),
 ('UNH', '2020-12-31'),
 ('UPS', '2020-12-31'),
 ('ABBV', '2021-12-31'),
 ('AIG', '2021-12-31'),
 ('BK', '2021-12-31'),
 ('BRK-B', '2021-12-31'),
 ('COP', '2021-12-31'),
 ('CVS', '2021-12-31'),
 ('CVX', '2021-12-31'),
 ('EXC', '2021-12-31'),
 ('F', '2021-12-31'),
 ('GD', '2021-12-31'),
 ('MET', '2021-12-31'),
 ('ORCL', '2021-12-31'),
 ('PFE', '2021-12-31'),
 ('SCHW', '2021-12-31'),
 ('SPG', '2021-12-31'),
 ('WFC', '2021-12-31'),
 ('XOM', '2021-12-31')]
### Regression model 
- Stocks that beat SPY from 2021-12-31 to 2022-12-31:
['GE',
 'GM',
 'CSCO',
 'BA',
 'GILD',
 'BMY',
 'CVS',
 'COP',
 'CRM',
 'BKNG',
 'CL',
 'DOW',
 'CHTR',
 'XOM',
 'CMCSA',
 'DUK',
 'AXP',
 'EMR',
 'EXC',
 'BAC',
 'F',
 'COF',
 'C',
 'DIS',
 'CVX',
 'AMZN',
 'NVDA',
 'ADBE',
 'ORCL',
 'PFE',
 'PM',
 'PYPL',
 'QCOM',
 'RTX',
 'SBUX',
 'SCHW',
 'SO',
 'WFC',
 'ABT',
 'T',
 'TGT',
 'TMUS',
 'TSLA',
 'WBA',
 'TXN',
 'UPS',
 'USB',
 'AAPL',
 'SPG',
 'NKE',
 'NEE',
 'GOOGL',
 'HON',
 'INTC',
 'JPM',
 'KHC',
 'WMT',
 'KO',
 'LLY',
 'VZ',
 'MS',
 'AIG',
 'MRK',
 'MO',
 'GOOG',
 'META',
 'AMD',
 'MDT',
 'MDLZ',
 'BK',
 'MET']
- Stocks that the model predicted would beat SPY from 2021-12-31 to 2022-12-31:
['ABBV', 'AMGN', 'BA', 'BMY', 'BRK-B', 'CAT', 'CL', 'DUK', 'EMR', 'EXC', 'GILD', 'HON', 'IBM', 'JNJ', 'KHC', 'KO', 'LIN', 'MCD', 'MET', 'MO', 'MRK', 'ORCL', 'PEP', 'PG', 'PM', 'WMT']
### Ensemble method 
## Overcoming difficulties
- Information could not be collected until BRK.B was replaced with BRK-B in the tickers list.
- Originally, the mid price (average of daily high and daily low) was to be used instead of the close for smoother data. But a regular home computer would already require multiple hours to collect the data that was to be collected, and so close price was used to reduce work load by as much as possible.
- Monthly data was collected from pandas_ta because daily data took too long.
- It was discovered that yfinance could quickly collect daily data, but by then all the features were already calculated with monthly data from pandas_ta. However, the daily data from yfinance was useful in building the time series model.
- Instructions on how to build a time series trained with multiple features could not be found. So daily close price was used as the only feature.
- The SVR model would not work initially. This was because Date needed to be converted into a meaningful number and Ticker which was not a number needed to be dropped.
- The SVR model needed a Y, the future 1 year close price, but manually adding the future price of over 6000 rows of data was too much work to do. The future close price could not be the current close price shifted 12 rows down because the df had 101 stocks not just 1 stock. So a function was made to creates two new columns: Future_1_year_close and Ticker2. It then populates them with the values from the Close and Ticker columns shifted 12 rows down, and if Ticker and Ticker2 was not equal, Future_1_year_close will be set to NaN. NaN would then be dropped. 
## Future direction
- Backtest theses machine learning models with equal weighted portfolios. Find out if the ensemble model really did perform the best.

In [2]:
#Obtain list of S&P100 companies from wikipedia
resp = requests.get("https://en.wikipedia.org/wiki/S%26P_100")
convert_soup = bs.BeautifulSoup(resp.text, 'lxml')
table = convert_soup.find('table',{'class':'wikitable sortable'})

tickers = []
for rows in table.findAll('tr')[1:]:
    ticker = rows.findAll('td')[0].text.strip()
    tickers.append(ticker)
    
#Print list of S&100 companies + SPY from wikipedia
tickers = tickers + ['SPY']
print(tickers)

['AAPL', 'ABBV', 'ABT', 'ACN', 'ADBE', 'AIG', 'AMD', 'AMGN', 'AMT', 'AMZN', 'AVGO', 'AXP', 'BA', 'BAC', 'BK', 'BKNG', 'BLK', 'BMY', 'BRK.B', 'C', 'CAT', 'CHTR', 'CL', 'CMCSA', 'COF', 'COP', 'COST', 'CRM', 'CSCO', 'CVS', 'CVX', 'DHR', 'DIS', 'DOW', 'DUK', 'EMR', 'EXC', 'F', 'FDX', 'GD', 'GE', 'GILD', 'GM', 'GOOG', 'GOOGL', 'GS', 'HD', 'HON', 'IBM', 'INTC', 'JNJ', 'JPM', 'KHC', 'KO', 'LIN', 'LLY', 'LMT', 'LOW', 'MA', 'MCD', 'MDLZ', 'MDT', 'MET', 'META', 'MMM', 'MO', 'MRK', 'MS', 'MSFT', 'NEE', 'NFLX', 'NKE', 'NVDA', 'ORCL', 'PEP', 'PFE', 'PG', 'PM', 'PYPL', 'QCOM', 'RTX', 'SBUX', 'SCHW', 'SO', 'SPG', 'T', 'TGT', 'TMO', 'TMUS', 'TSLA', 'TXN', 'UNH', 'UNP', 'UPS', 'USB', 'V', 'VZ', 'WBA', 'WFC', 'WMT', 'XOM', 'SPY']

In [3]:
# replace BRK.B with BRK-B
tickers = [x.replace("BRK.B", "BRK-B") for x in tickers]
print(tickers)

['AAPL', 'ABBV', 'ABT', 'ACN', 'ADBE', 'AIG', 'AMD', 'AMGN', 'AMT', 'AMZN', 'AVGO', 'AXP', 'BA', 'BAC', 'BK', 'BKNG', 'BLK', 'BMY', 'BRK-B', 'C', 'CAT', 'CHTR', 'CL', 'CMCSA', 'COF', 'COP', 'COST', 'CRM', 'CSCO', 'CVS', 'CVX', 'DHR', 'DIS', 'DOW', 'DUK', 'EMR', 'EXC', 'F', 'FDX', 'GD', 'GE', 'GILD', 'GM', 'GOOG', 'GOOGL', 'GS', 'HD', 'HON', 'IBM', 'INTC', 'JNJ', 'JPM', 'KHC', 'KO', 'LIN', 'LLY', 'LMT', 'LOW', 'MA', 'MCD', 'MDLZ', 'MDT', 'MET', 'META', 'MMM', 'MO', 'MRK', 'MS', 'MSFT', 'NEE', 'NFLX', 'NKE', 'NVDA', 'ORCL', 'PEP', 'PFE', 'PG', 'PM', 'PYPL', 'QCOM', 'RTX', 'SBUX', 'SCHW', 'SO', 'SPG', 'T', 'TGT', 'TMO', 'TMUS', 'TSLA', 'TXN', 'UNH', 'UNP', 'UPS', 'USB', 'V', 'VZ', 'WBA', 'WFC', 'WMT', 'XOM', 'SPY']

In [4]:
# # This cell takes a long time to load, you can pd.read_csv('all_stock_data.csv') in nex cell instead
# # Create a function that calculates features for models. monthly data was used because process was too slow
# def getinfo(ticker):
#     stock_data = pd.DataFrame()
#     stock_data = stock_data.ta.ticker(ticker).resample('M').mean().loc['2018-01-01':'2023-01-01']
#     stock_data['Ticker'] = ticker
#     stock_data["1msma"] = stock_data["Close"].rolling(window=1).mean()
#     stock_data["2msma"] = stock_data["Close"].rolling(window=2).mean()
#     stock_data["3msma"] = stock_data["Close"].rolling(window=3).mean()
#     stock_data["Upper_shadow"]= stock_data['High'] - stock_data[["Close", "Open"]].max(axis=1)
#     stock_data["Lower_shadow"] = stock_data[["Close", "Open"]].min(axis=1) - stock_data['Low']
#     stock_data = stock_data[['Open', 'Close', 'High', 'Low', 'Ticker', '1msma', '2msma', '3msma', 'Upper_shadow','Lower_shadow']]
#     stock_data = stock_data.set_index('Ticker', append=True)
#     return stock_data

# all_stock_data = pd.DataFrame()
# for ticker in tickers:
#     stock_data = getinfo(ticker)
#     all_stock_data = pd.concat([all_stock_data, stock_data])
# all_stock_data.to_csv('all_stock_data.csv')
# all_stock_data

In [5]:
all_stock_data = pd.read_csv('all_stock_data.csv')
all_stock_data

,Date,Ticker,Open,Close,High,Low,1msma,2msma,3msma,Upper_shadow,Lower_shadow
0,2018-01-31,AAPL,41.369232,41.365384,41.650201,41.083170,41.365384,NaN,NaN,0.280969,0.282213
1,2018-02-28,AAPL,39.878374,39.965340,40.500878,39.450474,39.965340,40.665362,NaN,0.535538,0.427900
2,2018-03-31,AAPL,41.782732,41.651224,42.201016,41.308754,41.651224,40.808282,40.993982,0.418283,0.342469
3,2018-04-30,AAPL,40.521971,40.538453,40.973671,40.170409,40.538453,41.094838,40.718339,0.435219,0.351562
4,2018-05-31,AAPL,44.257988,44.396455,44.619616,43.996131,44.396455,42.467454,42.195377,0.223162,0.261857
...,...,...,...,...,...,...,...,...,...,...,...
6101,2022-08-31,SPY,415.512606,415.121306,418.129130,412.880870,415.121306,402.547403,398.087475,2.616524,2.240436
6102,2022-09-30,SPY,385.002379,384.234288,388.166187,380.890002,384.234288,399.677797,396.443031,3.163808,3.344286
6103,2022-10-31,SPY,370.311904,371.559524,375.305238,366.714283,371.559524,377.896906,390.305039,3.745714,3.597621
6104,2022-11-30,SPY,390.998567,391.115239,393.993336,387.656667,391.115239,381.337381,382.303017,2.878097,3.341900
6105,2022-12-31,SPY,391.231905,390.379047,393.636665,387.524288,390.379047,390.747143,384.351270,2.404760,2.854760

In [6]:
start_date = '2018-01-01'
end_date = '2023-01-01' 

# Get daily stock data from yf
data = yf.download(tickers, start=start_date, end=end_date)[['Close']]
# Drop the top level column name
data.columns = data.columns.droplevel()

data.to_csv('daily_data.csv')
# Take a look at the data
data

[*********************100%***********************]  102 of 102 completed

,AAPL,ABBV,ABT,ACN,ADBE,AIG,AMD,AMGN,AMT,AMZN,...,UNH,UNP,UPS,USB,V,VZ,WBA,WFC,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-02,43.064999,98.410004,58.790001,153.839996,177.699997,59.500000,10.980000,177.000000,141.130005,59.450500,...,221.160004,135.779999,123.669998,54.029999,114.510002,53.529999,74.949997,61.090000,98.589996,85.029999
2018-01-03,43.057499,99.949997,58.919998,154.550003,181.039993,60.160000,11.550000,180.339996,141.679993,60.209999,...,223.479996,136.539993,126.410004,54.560001,115.650002,52.430000,75.510002,61.560001,99.449997,86.699997
2018-01-04,43.257500,99.379997,58.820000,156.380005,183.220001,60.400002,12.120000,179.580002,139.610001,60.479500,...,224.449997,135.800003,127.230003,54.980000,116.080002,52.599998,71.599998,62.330002,99.540001,86.820000
2018-01-05,43.750000,101.110001,58.990002,157.669998,185.339996,60.650002,11.880000,180.649994,140.509995,61.457001,...,228.729996,137.529999,127.620003,55.320000,118.860001,52.480000,72.919998,62.750000,100.129997,86.750000
2018-01-08,43.587502,99.489998,58.820000,158.929993,185.039993,60.250000,12.280000,180.600006,142.009995,62.343498,...,224.759995,139.440002,129.169998,55.400002,119.339996,52.389999,73.849998,62.040001,101.610001,87.139999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23,131.860001,163.100006,108.180000,266.089996,338.450012,63.160000,64.519997,263.920013,212.449997,85.250000,...,531.309998,209.910004,177.009995,43.200001,205.830002,38.410000,38.630001,40.980000,143.770004,108.680000
2022-12-27,130.029999,162.990005,108.570000,265.309998,335.089996,63.330002,63.270000,263.390015,210.899994,83.040001,...,531.989990,210.320007,176.929993,43.650002,206.289993,39.250000,38.310001,41.040001,143.809998,110.190002
2022-12-28,126.040001,162.229996,107.830002,263.119995,328.329987,62.889999,62.570000,261.420013,210.100006,81.820000,...,528.450012,206.869995,173.610001,43.349998,204.990005,38.810001,37.580002,41.119999,141.289993,108.379997
2022-12-29,129.610001,162.559998,110.309998,268.380005,337.579987,63.630001,64.820000,263.160004,215.740005,84.180000,...,529.880005,209.220001,175.750000,43.570000,208.059998,39.259998,37.470001,41.330002,142.149994,109.199997
2022-12-30,129.929993,161.610001,109.790001,266.839996,336.529999,63.240002,64.769997,262.640015,211.860001,84.000000,...,530.179993,207.070007,173.839996,43.610001,207.759995,39.400002,37.360001,41.290001,141.789993,110.300003

In [7]:
# extract year from index and group by year
grouped = data.groupby(data.index.year)

# keep only the last row of each group
result = grouped.tail(1)

# the result is the close price for every stock at the end of each year
result

,AAPL,ABBV,ABT,ACN,ADBE,AIG,AMD,AMGN,AMT,AMZN,...,UNH,UNP,UPS,USB,V,VZ,WBA,WFC,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2018-12-31,39.435001,92.190002,72.330002,141.009995,226.240005,39.410000,18.459999,194.669998,158.190002,75.098503,...,249.119995,138.229996,97.529999,45.700001,131.940002,56.220001,68.330002,46.080002,93.150002,68.190002
2019-12-31,73.412498,88.540001,86.860001,210.570007,329.809998,51.330002,45.860001,241.070007,229.820007,92.391998,...,293.980011,180.789993,117.059998,59.290001,187.899994,61.400002,58.959999,53.799999,118.839996,69.779999
2020-12-31,132.690002,107.150002,109.489998,261.209991,500.119995,37.860001,91.709999,229.919998,224.460007,162.846497,...,350.679993,208.220001,168.399994,46.590000,218.729996,58.750000,39.880001,30.180000,144.149994,41.220001
2021-12-31,177.570007,135.399994,140.740005,414.549988,567.059998,56.860001,143.899994,224.970001,292.500000,166.716995,...,502.140015,251.929993,214.339996,56.169998,216.710007,51.959999,52.160000,47.980000,144.690002,61.189999
2022-12-30,129.929993,161.610001,109.790001,266.839996,336.529999,63.240002,64.769997,262.640015,211.860001,84.000000,...,530.179993,207.070007,173.839996,43.610001,207.759995,39.400002,37.360001,41.290001,141.789993,110.300003

In [8]:
# get list of SPY close price at year end
SPY = result['SPY'].tolist()
SPY

[249.9199981689453,
 321.8599853515625,
 373.8800048828125,
 474.9599914550781,
 382.42999267578125]

In [9]:
# get yearly returns of SPY
def percent_change(lst):
    percent_changes = []
    for i in range(1, len(lst)):
        percent_changes.append((lst[i] - lst[i - 1]) / lst[i - 1] * 100)
    return percent_changes
SPY = percent_change(SPY)
SPY

[28.785206349907995,
 16.162313396749013,
 27.035408487262576,
 -19.481640652683986]

In [10]:
# Create a function that adds 10 to all numbers in a list
def add_ten(lst):
    new_lst = []
    for item in lst:
        if type(item) == float and not math.isnan(item):
            new_lst.append(item + 10)
        else:
            new_lst.append(item)
    return new_lst
returns_to_beat_SPY = add_ten(SPY)
returns_to_beat_SPY

[38.785206349907995, 26.162313396749013, 37.03540848726257, -9.481640652683986]

In [11]:
# Create a funtion to find out what stocks beat SPY and in what year
def beatSPY(df):
    result = []
    for col in df.columns:
        if (df[col]["2019-12-31"] / df[col]["2018-12-31"] - 1) >= 0.3687:
            result.append((col, "2019-12-31"))
        elif (df[col]["2020-12-31"] / df[col]["2019-12-31"] - 1) >= 0.2616:
            result.append((col, "2020-12-31"))
        elif (df[col]["2021-12-31"] / df[col]["2020-12-31"] - 1) >= 0.3704:
            result.append((col, "2021-12-31"))
        elif (df[col]["2022-12-30"] / df[col]["2021-12-31"] - 1) >= -0.0948:
            result.append((col, "2022-12-30"))
    result.sort(key=lambda x: x[1])
    return result

beatSPY_results = beatSPY(result)
beatSPY_results

[('AAPL', '2019-12-31'),
 ('ACN', '2019-12-31'),
 ('ADBE', '2019-12-31'),
 ('AMD', '2019-12-31'),
 ('AMT', '2019-12-31'),
 ('BAC', '2019-12-31'),
 ('C', '2019-12-31'),
 ('CHTR', '2019-12-31'),
 ('COST', '2019-12-31'),
 ('DHR', '2019-12-31'),
 ('GE', '2019-12-31'),
 ('GS', '2019-12-31'),
 ('JPM', '2019-12-31'),
 ('LMT', '2019-12-31'),
 ('MA', '2019-12-31'),
 ('MDLZ', '2019-12-31'),
 ('META', '2019-12-31'),
 ('MSFT', '2019-12-31'),
 ('NEE', '2019-12-31'),
 ('NVDA', '2019-12-31'),
 ('QCOM', '2019-12-31'),
 ('RTX', '2019-12-31'),
 ('SO', '2019-12-31'),
 ('T', '2019-12-31'),
 ('TGT', '2019-12-31'),
 ('TMO', '2019-12-31'),
 ('V', '2019-12-31'),
 ('AMZN', '2020-12-31'),
 ('AVGO', '2020-12-31'),
 ('BLK', '2020-12-31'),
 ('CRM', '2020-12-31'),
 ('FDX', '2020-12-31'),
 ('GOOG', '2020-12-31'),
 ('GOOGL', '2020-12-31'),
 ('LLY', '2020-12-31'),
 ('LOW', '2020-12-31'),
 ('MS', '2020-12-31'),
 ('NFLX', '2020-12-31'),
 ('NKE', '2020-12-31'),
 ('PYPL', '2020-12-31'),
 ('TMUS', '2020-12-31'),
 ('TSLA', '2020-12-31'),
 ('TXN', '2020-12-31'),
 ('UPS', '2020-12-31'),
 ('AIG', '2021-12-31'),
 ('COF', '2021-12-31'),
 ('COP', '2021-12-31'),
 ('CSCO', '2021-12-31'),
 ('CVS', '2021-12-31'),
 ('CVX', '2021-12-31'),
 ('F', '2021-12-31'),
 ('GD', '2021-12-31'),
 ('GM', '2021-12-31'),
 ('HD', '2021-12-31'),
 ('PFE', '2021-12-31'),
 ('SCHW', '2021-12-31'),
 ('SPG', '2021-12-31'),
 ('UNH', '2021-12-31'),
 ('WFC', '2021-12-31'),
 ('XOM', '2021-12-31'),
 ('ABBV', '2022-12-30'),
 ('AMGN', '2022-12-30'),
 ('BA', '2022-12-30'),
 ('BMY', '2022-12-30'),
 ('BRK-B', '2022-12-30'),
 ('CAT', '2022-12-30'),
 ('CL', '2022-12-30'),
 ('DUK', '2022-12-30'),
 ('EMR', '2022-12-30'),
 ('EXC', '2022-12-30'),
 ('GILD', '2022-12-30'),
 ('HON', '2022-12-30'),
 ('IBM', '2022-12-30'),
 ('JNJ', '2022-12-30'),
 ('KHC', '2022-12-30'),
 ('KO', '2022-12-30'),
 ('LIN', '2022-12-30'),
 ('MCD', '2022-12-30'),
 ('MET', '2022-12-30'),
 ('MO', '2022-12-30'),
 ('MRK', '2022-12-30'),
 ('ORCL', '2022-12-30'),
 ('PEP', '2022-12-30'),
 ('PG', '2022-12-30'),
 ('PM', '2022-12-30'),
 ('WMT', '2022-12-30')]

In [12]:
# Reset index
data = data.reset_index()
# Change data to correct format for prophet. y is the close price.
df = pd.melt(data, id_vars='Date', value_vars=tickers)
df.columns = ['ds', 'ticker', 'y']
df

               ds ticker           y
0      2018-01-02   AAPL   43.064999
1      2018-01-03   AAPL   43.057499
2      2018-01-04   AAPL   43.257500
3      2018-01-05   AAPL   43.750000
4      2018-01-08   AAPL   43.587502
...           ...    ...         ...
128413 2022-12-23    SPY  382.910004
128414 2022-12-27    SPY  381.399994
128415 2022-12-28    SPY  376.660004
128416 2022-12-29    SPY  383.440002
128417 2022-12-30    SPY  382.429993

[128418 rows x 3 columns]

In [13]:
# Create a function that predicts the future 1 year close price with prophet
# Group the data by ticker
groups_by_ticker = df.groupby('ticker')
def train_and_forecast(group):
  # Initiate the model
  m = Prophet()
  
  # Fit the model
  m.fit(group)
  # Make predictions
  future = m.make_future_dataframe(periods=252)
  forecast = m.predict(future)[['ds', 'yhat']]
  forecast['ticker'] = group['ticker'].iloc[0]
  
# Return the forecasted results
  return forecast[['ds', 'ticker', 'yhat']]

In [14]:
# # This cell takes a long time to load, you can pd.read_csv("for_loop_forecast.csv") in next cell instead
# for_loop_forecast is the result of a for loop that predicts stock price in 1 year (yhat)
# # Start time
# start_time = time()
# # Create an empty dataframe
# for_loop_forecast = pd.DataFrame()
# # Loop through each ticker
# for ticker in tickers:
#   # Get the data for the ticker
#   group = groups_by_ticker.get_group(ticker)  
#   # Make forecast
#   forecast = train_and_forecast(group)
#   # Add the forecast results to the dataframe
#   for_loop_forecast = pd.concat((for_loop_forecast, forecast))
# print('The time used for the for-loop forecast is ', time()-start_time)

# for_loop_forecast.to_csv('for_loop_forecast.csv')
# # Take a look at the data
# for_loop_forecast

In [15]:
for_loop_forecast = pd.read_csv("for_loop_forecast.csv")
for_loop_forecast

        Unnamed: 0          ds ticker        yhat
0                0  2018-01-02   AAPL   43.504880
1                1  2018-01-03   AAPL   43.674812
2                2  2018-01-04   AAPL   43.627469
3                3  2018-01-05   AAPL   43.584895
4                4  2018-01-08   AAPL   44.151228
...            ...         ...    ...         ...
154117        1506  2023-09-04    SPY  315.350853
154118        1507  2023-09-05    SPY  315.118570
154119        1508  2023-09-06    SPY  314.571179
154120        1509  2023-09-07    SPY  313.931390
154121        1510  2023-09-08    SPY  313.257128

[154122 rows x 4 columns]

In [16]:
# Create a list of the desired dates
dates = ['2018-12-31', '2019-12-31', '2020-12-31', '2021-12-31']

# Filter the dataframe to only include rows where the date column is in the list of desired dates and the ticker column is 'SPY'
SPY_for_loop_forecast = for_loop_forecast[(for_loop_forecast['ds'].isin(dates)) & (for_loop_forecast['ticker'] == 'SPY')]
SPY_for_loop_forecast = SPY_for_loop_forecast[['ds','ticker','yhat']]
SPY_for_loop_forecast

                ds ticker        yhat
152861  2018-12-31    SPY  269.408894
153113  2019-12-31    SPY  315.525119
153366  2020-12-31    SPY  376.962648
153618  2021-12-31    SPY  459.888389

In [17]:
# Create a list of SPY close in 2018 and predicted SPY close in 2019, 2020, 2021 and 2022
SPY_close_and_yhat = data['SPY'].head(1).tolist() + SPY_for_loop_forecast['yhat'].tolist()
SPY_close_and_yhat

[268.7699890136719,
 269.4088943715722,
 315.5251193384879,
 376.9626482933564,
 459.8883891067739]

In [18]:
differences = np.diff(SPY_close_and_yhat)

# Get the predicted yearly percent change of SPY
percent_change = differences / SPY_close_and_yhat[:-1] * 100
percent_change = percent_change.tolist()
percent_change

[0.23771454552831106,
 17.11755845124831,
 19.471517539926744,
 21.998397238785262]

In [19]:
# Add 10 to the predicted yearly percent change of SPY
add_ten(percent_change)

[10.237714545528311, 27.11755845124831, 29.471517539926744, 31.998397238785262]

In [20]:
# Create a function that shows the predicted close price in 1 year of all stocks from date (ds)
def pivot_df(df):
    # Set the ds column as the index
    df.set_index('ds', inplace=True)
    # Pivot the dataframe so that the ticker values become columns and the yhat values are populated in each cell
    pivot = df.pivot(columns='ticker', values='yhat')
    return pivot
for_loop_forecast = pivot_df(for_loop_forecast)
for_loop_forecast

ticker,AAPL,ABBV,ABT,ACN,ADBE,AIG,AMD,AMGN,AMT,AMZN,...,UNH,UNP,UPS,USB,V,VZ,WBA,WFC,WMT,XOM
ds,,,,,,,,,,,,,,,,,,,,,
2018-01-02,43.504880,106.351238,60.469147,173.714883,214.151019,61.217852,18.204282,179.381220,147.541590,70.964298,...,225.763196,129.518592,123.624743,55.421763,120.028936,52.323339,72.612211,59.353415,101.889312,77.831616
2018-01-03,43.674812,106.442534,60.303564,173.014340,212.947695,61.279463,18.051488,179.721885,146.796869,71.022609,...,226.253959,129.998803,123.253163,55.392120,120.143651,52.231442,72.622329,59.572419,101.578732,77.999232
2018-01-04,43.627469,106.470387,60.225055,172.554789,211.560201,61.291348,17.754660,179.999406,146.318666,70.887700,...,226.776478,130.596466,123.213888,55.514729,120.202085,52.232125,72.621912,59.809619,101.538484,78.308695
2018-01-05,43.584895,106.532641,60.090992,171.807966,210.132246,61.423797,17.456639,180.853643,145.868151,70.408510,...,227.187576,131.549853,123.046985,55.671264,120.301104,52.304810,72.823427,60.102971,101.541710,78.658918
2018-01-08,44.151228,106.575695,59.046867,169.164682,205.838160,61.670316,16.656696,182.463267,143.537721,70.095382,...,227.389178,132.742669,122.187805,55.892151,119.866730,52.222227,73.381317,60.835031,101.389476,79.748453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-04,128.884706,174.464968,78.359299,188.585932,82.520139,55.429235,6.386824,302.763144,192.579705,46.373703,...,588.288792,176.535982,150.505201,27.734356,188.871778,26.534751,24.579474,35.352309,133.957996,138.780632
2023-09-05,128.595342,174.145997,78.306603,188.190011,81.481117,55.448711,6.198028,302.821356,192.617534,46.259481,...,588.145904,176.277238,150.481409,27.734728,188.631178,26.489440,24.567940,35.293953,134.057720,138.971858
2023-09-06,128.215180,174.056855,78.332517,187.534450,79.953499,55.400179,5.775895,302.348106,192.183170,46.010938,...,588.027121,175.668895,149.854644,27.588837,188.301955,26.340055,24.446739,35.225822,133.741244,138.915624
2023-09-07,127.615754,173.910127,78.441746,187.150837,78.054220,55.303588,5.251474,301.777393,192.008228,45.569640,...,587.951787,175.203616,149.558971,27.601623,187.906211,26.281516,24.313686,35.185984,133.674800,138.982100
2023-09-08,127.022412,173.807258,78.485073,186.505354,75.916573,55.331016,4.765528,301.759881,191.838446,44.784263,...,587.776050,175.129121,149.133471,27.656261,187.544567,26.293812,24.382474,35.215697,133.634501,139.074495

In [21]:
# Create a function to find what stocks are predicted to beat SPY in 1 year
def beatSPY_yhat(df):
    result = []
    for col in df.columns:
        if (df[col]["2019-12-31"] / df[col]["2018-12-31"] - 1) >= 0.1024:
            result.append((col, "2019-12-31"))
        elif (df[col]["2020-12-31"] / df[col]["2019-12-31"] - 1) >= 0.2712:
            result.append((col, "2020-12-31"))
        elif (df[col]["2021-12-31"] / df[col]["2020-12-31"] - 1) >= 0.2947:
            result.append((col, "2021-12-31"))
        elif (df[col]["2022-12-30"] / df[col]["2021-12-31"] - 1) >= 0.3200:
            result.append((col, "2022-12-30"))
    result.sort(key=lambda x: x[1])
    return result

beatSPY_predictions = beatSPY_yhat(for_loop_forecast)
beatSPY_predictions

[('AAPL', '2019-12-31'),
 ('ABT', '2019-12-31'),
 ('ACN', '2019-12-31'),
 ('ADBE', '2019-12-31'),
 ('AMD', '2019-12-31'),
 ('AMGN', '2019-12-31'),
 ('AMT', '2019-12-31'),
 ('AVGO', '2019-12-31'),
 ('AXP', '2019-12-31'),
 ('BAC', '2019-12-31'),
 ('BLK', '2019-12-31'),
 ('BMY', '2019-12-31'),
 ('C', '2019-12-31'),
 ('CHTR', '2019-12-31'),
 ('CMCSA', '2019-12-31'),
 ('COF', '2019-12-31'),
 ('COST', '2019-12-31'),
 ('DHR', '2019-12-31'),
 ('DIS', '2019-12-31'),
 ('GE', '2019-12-31'),
 ('GOOG', '2019-12-31'),
 ('GOOGL', '2019-12-31'),
 ('GS', '2019-12-31'),
 ('HD', '2019-12-31'),
 ('HON', '2019-12-31'),
 ('INTC', '2019-12-31'),
 ('JPM', '2019-12-31'),
 ('KO', '2019-12-31'),
 ('LIN', '2019-12-31'),
 ('LLY', '2019-12-31'),
 ('LMT', '2019-12-31'),
 ('LOW', '2019-12-31'),
 ('MA', '2019-12-31'),
 ('MDLZ', '2019-12-31'),
 ('MDT', '2019-12-31'),
 ('META', '2019-12-31'),
 ('MRK', '2019-12-31'),
 ('MS', '2019-12-31'),
 ('MSFT', '2019-12-31'),
 ('NEE', '2019-12-31'),
 ('NKE', '2019-12-31'),
 ('NVDA', '2019-12-31'),
 ('PEP', '2019-12-31'),
 ('PG', '2019-12-31'),
 ('PYPL', '2019-12-31'),
 ('QCOM', '2019-12-31'),
 ('RTX', '2019-12-31'),
 ('SBUX', '2019-12-31'),
 ('SO', '2019-12-31'),
 ('SPY', '2019-12-31'),
 ('T', '2019-12-31'),
 ('TGT', '2019-12-31'),
 ('TMO', '2019-12-31'),
 ('TMUS', '2019-12-31'),
 ('TSLA', '2019-12-31'),
 ('TXN', '2019-12-31'),
 ('V', '2019-12-31'),
 ('WMT', '2019-12-31'),
 ('AMZN', '2020-12-31'),
 ('CAT', '2020-12-31'),
 ('CRM', '2020-12-31'),
 ('FDX', '2020-12-31'),
 ('GM', '2020-12-31'),
 ('NFLX', '2020-12-31'),
 ('UNH', '2020-12-31'),
 ('UPS', '2020-12-31'),
 ('ABBV', '2021-12-31'),
 ('AIG', '2021-12-31'),
 ('BK', '2021-12-31'),
 ('BRK-B', '2021-12-31'),
 ('COP', '2021-12-31'),
 ('CVS', '2021-12-31'),
 ('CVX', '2021-12-31'),
 ('EXC', '2021-12-31'),
 ('F', '2021-12-31'),
 ('GD', '2021-12-31'),
 ('MET', '2021-12-31'),
 ('ORCL', '2021-12-31'),
 ('PFE', '2021-12-31'),
 ('SCHW', '2021-12-31'),
 ('SPG', '2021-12-31'),
 ('WFC', '2021-12-31'),
 ('XOM', '2021-12-31')]

In [22]:
# Find the  precision, recall, and f1_score of the model
def calculate_metrics(real, prediction):
    true_positive = 0
    false_positive = 0
    false_negative = 0  
    for stock in prediction:
        if stock in real:
            true_positive += 1
        else:
            false_positive += 1
    for stock in real:
        if stock not in prediction:
            false_negative += 1
    precision = true_positive / (true_positive + false_positive)
    recall = true_positive / (true_positive + false_negative)
    f1_score = 2 * (precision * recall) / (precision + recall)
    return precision, recall, f1_score

calculate_metrics(beatSPY_results, beatSPY_predictions)

(0.5180722891566265, 0.5, 0.5088757396449705)

In [23]:
# Load stock data into a pandas DataFrame
all_stock_data = pd.read_csv("all_stock_data.csv")
all_stock_data = all_stock_data[['Date', 'Ticker', 'Close', '1msma', '2msma', '3msma', 'Upper_shadow', 'Lower_shadow']]
all_stock_data

,Date,Ticker,Close,1msma,2msma,3msma,Upper_shadow,Lower_shadow
0,2018-01-31,AAPL,41.365384,41.365384,NaN,NaN,0.280969,0.282213
1,2018-02-28,AAPL,39.965340,39.965340,40.665362,NaN,0.535538,0.427900
2,2018-03-31,AAPL,41.651224,41.651224,40.808282,40.993982,0.418283,0.342469
3,2018-04-30,AAPL,40.538453,40.538453,41.094838,40.718339,0.435219,0.351562
4,2018-05-31,AAPL,44.396455,44.396455,42.467454,42.195377,0.223162,0.261857
...,...,...,...,...,...,...,...,...
6101,2022-08-31,SPY,415.121306,415.121306,402.547403,398.087475,2.616524,2.240436
6102,2022-09-30,SPY,384.234288,384.234288,399.677797,396.443031,3.163808,3.344286
6103,2022-10-31,SPY,371.559524,371.559524,377.896906,390.305039,3.745714,3.597621
6104,2022-11-30,SPY,391.115239,391.115239,381.337381,382.303017,2.878097,3.341900
6105,2022-12-31,SPY,390.379047,390.379047,390.747143,384.351270,2.404760,2.854760

In [24]:
# Here's a function that creates two new columns: Future_1_year_close and Ticker2, and populates them with the values from the Close and Ticker columns shifted 12 rows down. 
# If Ticker and Ticker2 are not equal, Future_1_year_close will be set to NaN:
def add_future_1_year_close_and_ticker2(df):
    df_new = df.copy()
    df_new['Future_1_year_close'] = df['Close'].shift(-12)
    df_new['Ticker2'] = df['Ticker'].shift(-12)
    df_new['Future_1_year_close'] = np.where(df_new['Ticker'] != df_new['Ticker2'], np.nan, df_new['Future_1_year_close'])
    return df_new
# Drop NaN
new_all_stock_data = add_future_1_year_close_and_ticker2(all_stock_data).dropna()
new_all_stock_data = new_all_stock_data.sort_values(by='Date')
new_all_stock_data

,Date,Ticker,Close,1msma,2msma,3msma,Upper_shadow,Lower_shadow,Future_1_year_close,Ticker2
2,2018-03-31,AAPL,41.651224,41.651224,40.808282,40.993982,0.418283,0.342469,44.417369,AAPL
4188,2018-03-31,NFLX,312.228097,312.228097,291.835890,272.193292,4.711426,6.830954,359.435713,NFLX
4128,2018-03-31,NEE,36.097500,36.097500,35.351030,35.112627,0.279482,0.247025,44.779981,NEE
4068,2018-03-31,MSFT,89.051431,89.051431,88.222365,87.461867,0.941694,0.971363,112.228164,MSFT
362,2018-03-31,AMD,11.256191,11.256191,11.613095,11.860952,0.202381,0.199524,24.253810,AMD
...,...,...,...,...,...,...,...,...,...,...
3573,2021-12-31,MCD,260.332697,260.332697,254.828519,250.056727,1.578493,1.115613,269.771426,MCD
3513,2021-12-31,MA,345.054475,345.054475,343.177351,345.353331,3.161761,3.817266,349.328097,MA
887,2021-12-31,BK,54.847118,54.847118,55.625538,55.224109,0.555738,0.518135,44.357665,BK
3753,2021-12-31,MET,60.293025,60.293025,61.312488,62.158335,0.682040,0.540305,73.146191,MET
6093,2021-12-31,SPY,466.405002,466.405002,466.080359,458.961985,2.602269,3.164093,390.379047,SPY

In [25]:
new_all_stock_data_master = new_all_stock_data.copy()
new_all_stock_data.to_csv('new_all_stock_data.csv')

In [26]:
# Convert date to the number of seconds since 1970-01-01, which can be used as a numerical feature 
new_all_stock_data["Date"] = pd.to_datetime(new_all_stock_data["Date"], format="%Y.%m.%d", errors="coerce")
new_all_stock_data["Date"] = new_all_stock_data["Date"].dropna().astype(np.int64) // 10**9
new_all_stock_data

,Date,Ticker,Close,1msma,2msma,3msma,Upper_shadow,Lower_shadow,Future_1_year_close,Ticker2
2,1522454400,AAPL,41.651224,41.651224,40.808282,40.993982,0.418283,0.342469,44.417369,AAPL
4188,1522454400,NFLX,312.228097,312.228097,291.835890,272.193292,4.711426,6.830954,359.435713,NFLX
4128,1522454400,NEE,36.097500,36.097500,35.351030,35.112627,0.279482,0.247025,44.779981,NEE
4068,1522454400,MSFT,89.051431,89.051431,88.222365,87.461867,0.941694,0.971363,112.228164,MSFT
362,1522454400,AMD,11.256191,11.256191,11.613095,11.860952,0.202381,0.199524,24.253810,AMD
...,...,...,...,...,...,...,...,...,...,...
3573,1640908800,MCD,260.332697,260.332697,254.828519,250.056727,1.578493,1.115613,269.771426,MCD
3513,1640908800,MA,345.054475,345.054475,343.177351,345.353331,3.161761,3.817266,349.328097,MA
887,1640908800,BK,54.847118,54.847118,55.625538,55.224109,0.555738,0.518135,44.357665,BK
3753,1640908800,MET,60.293025,60.293025,61.312488,62.158335,0.682040,0.540305,73.146191,MET
6093,1640908800,SPY,466.405002,466.405002,466.080359,458.961985,2.602269,3.164093,390.379047,SPY

In [27]:
# Drop non numerical values
new_all_stock_data_num = new_all_stock_data.drop(columns=['Ticker', 'Ticker2'])
new_all_stock_data_num

,Date,Close,1msma,2msma,3msma,Upper_shadow,Lower_shadow,Future_1_year_close
2,1522454400,41.651224,41.651224,40.808282,40.993982,0.418283,0.342469,44.417369
4188,1522454400,312.228097,312.228097,291.835890,272.193292,4.711426,6.830954,359.435713
4128,1522454400,36.097500,36.097500,35.351030,35.112627,0.279482,0.247025,44.779981
4068,1522454400,89.051431,89.051431,88.222365,87.461867,0.941694,0.971363,112.228164
362,1522454400,11.256191,11.256191,11.613095,11.860952,0.202381,0.199524,24.253810
...,...,...,...,...,...,...,...,...
3573,1640908800,260.332697,260.332697,254.828519,250.056727,1.578493,1.115613,269.771426
3513,1640908800,345.054475,345.054475,343.177351,345.353331,3.161761,3.817266,349.328097
887,1640908800,54.847118,54.847118,55.625538,55.224109,0.555738,0.518135,44.357665
3753,1640908800,60.293025,60.293025,61.312488,62.158335,0.682040,0.540305,73.146191
6093,1640908800,466.405002,466.405002,466.080359,458.961985,2.602269,3.164093,390.379047

In [28]:
new_all_stock_data_num.to_csv('new_all_stock_data_num.csv')

In [29]:
# Split the data into a training set and a testing set
X = new_all_stock_data_num.drop("Future_1_year_close", axis=1)
y = new_all_stock_data_num['Future_1_year_close']
# The train size will be from the first 4 years of data. The last year of data will be used to test the model.
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=3420, random_state=42, shuffle=False)

# Scale the data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Fit an SVM model
model = SVR(kernel="linear")
model.fit(X_train, y_train)

# Evaluate the model
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 13115.610970867541

In [30]:
X_train.shape[0]

3420

In [31]:
# reduce df to show only dates where a prediction was made
all_stock_data_2021 = new_all_stock_data_master.drop(new_all_stock_data_master.index[:3420])
all_stock_data_2021

,Date,Ticker,Close,1msma,2msma,3msma,Upper_shadow,Lower_shadow,Future_1_year_close,Ticker2
5481,2020-12-31,UNH,337.709917,337.709917,337.346439,329.945247,3.277274,2.658828,481.319795,UNH
5841,2020-12-31,WBA,40.017852,40.017852,39.059388,37.817841,0.539262,0.561582,49.229091,WBA
2181,2020-12-31,EXC,27.863314,27.863314,28.075124,27.556343,0.260030,0.250917,37.535903,EXC
4281,2020-12-31,NKE,138.263549,138.263549,133.624097,131.250629,0.959233,1.060339,166.628451,NKE
4221,2020-12-31,NFLX,516.569090,516.569090,502.006545,506.384968,5.529087,5.835452,608.484089,NFLX
...,...,...,...,...,...,...,...,...,...,...
3573,2021-12-31,MCD,260.332697,260.332697,254.828519,250.056727,1.578493,1.115613,269.771426,MCD
3513,2021-12-31,MA,345.054475,345.054475,343.177351,345.353331,3.161761,3.817266,349.328097,MA
887,2021-12-31,BK,54.847118,54.847118,55.625538,55.224109,0.555738,0.518135,44.357665,BK
3753,2021-12-31,MET,60.293025,60.293025,61.312488,62.158335,0.682040,0.540305,73.146191,MET
6093,2021-12-31,SPY,466.405002,466.405002,466.080359,458.961985,2.602269,3.164093,390.379047,SPY

In [32]:
# add model's prediction to df
all_stock_data_2021['y_pred'] = y_pred
all_stock_data_2021

,Date,Ticker,Close,1msma,2msma,3msma,Upper_shadow,Lower_shadow,Future_1_year_close,Ticker2,y_pred
5481,2020-12-31,UNH,337.709917,337.709917,337.346439,329.945247,3.277274,2.658828,481.319795,UNH,391.434044
5841,2020-12-31,WBA,40.017852,40.017852,39.059388,37.817841,0.539262,0.561582,49.229091,WBA,61.196696
2181,2020-12-31,EXC,27.863314,27.863314,28.075124,27.556343,0.260030,0.250917,37.535903,EXC,44.566299
4281,2020-12-31,NKE,138.263549,138.263549,133.624097,131.250629,0.959233,1.060339,166.628451,NKE,163.491623
4221,2020-12-31,NFLX,516.569090,516.569090,502.006545,506.384968,5.529087,5.835452,608.484089,NFLX,613.584168
...,...,...,...,...,...,...,...,...,...,...,...
3573,2021-12-31,MCD,260.332697,260.332697,254.828519,250.056727,1.578493,1.115613,269.771426,MCD,292.276800
3513,2021-12-31,MA,345.054475,345.054475,343.177351,345.353331,3.161761,3.817266,349.328097,MA,419.497614
887,2021-12-31,BK,54.847118,54.847118,55.625538,55.224109,0.555738,0.518135,44.357665,BK,82.584911
3753,2021-12-31,MET,60.293025,60.293025,61.312488,62.158335,0.682040,0.540305,73.146191,MET,89.255067
6093,2021-12-31,SPY,466.405002,466.405002,466.080359,458.961985,2.602269,3.164093,390.379047,SPY,524.989359

In [33]:
# only look at laste date, date = 2021-12-31
all_stock_data_2021 = all_stock_data_2021[all_stock_data_2021["Date"] == "2021-12-31"].iloc[:,:]
all_stock_data_2021

,Date,Ticker,Close,1msma,2msma,3msma,Upper_shadow,Lower_shadow,Future_1_year_close,Ticker2,y_pred
1007,2021-12-31,BLK,887.410925,887.410925,899.168083,884.361847,6.306990,7.566394,706.617336,BLK,1012.979679
2433,2021-12-31,GE,73.201026,73.201026,77.008791,78.400578,0.833405,0.830549,64.411289,GE,107.444253
2553,2021-12-31,GM,58.092879,58.092879,59.112446,58.157825,0.912700,0.840300,36.571905,GM,91.781635
1727,2021-12-31,CSCO,57.557663,57.557663,55.802428,54.908326,0.410549,0.346714,47.921398,CSCO,81.146743
767,2021-12-31,BA,200.457728,200.457728,208.148151,211.447179,2.765907,3.016363,185.325237,BA,271.090217
...,...,...,...,...,...,...,...,...,...,...,...
3573,2021-12-31,MCD,260.332697,260.332697,254.828519,250.056727,1.578493,1.115613,269.771426,MCD,292.276800
3513,2021-12-31,MA,345.054475,345.054475,343.177351,345.353331,3.161761,3.817266,349.328097,MA,419.497614
887,2021-12-31,BK,54.847118,54.847118,55.625538,55.224109,0.555738,0.518135,44.357665,BK,82.584911
3753,2021-12-31,MET,60.293025,60.293025,61.312488,62.158335,0.682040,0.540305,73.146191,MET,89.255067
6093,2021-12-31,SPY,466.405002,466.405002,466.080359,458.961985,2.602269,3.164093,390.379047,SPY,524.989359

In [34]:
# show model's predicted 1 year return for all stocks
all_stock_data_2021['predicted_percent_return'] = (all_stock_data_2021['y_pred'] - all_stock_data_2021['Close']) / all_stock_data_2021['Close'] * 100
all_stock_data_2021

,Date,Ticker,Close,1msma,2msma,3msma,Upper_shadow,Lower_shadow,Future_1_year_close,Ticker2,y_pred,predicted_percent_return
1007,2021-12-31,BLK,887.410925,887.410925,899.168083,884.361847,6.306990,7.566394,706.617336,BLK,1012.979679,14.150012
2433,2021-12-31,GE,73.201026,73.201026,77.008791,78.400578,0.833405,0.830549,64.411289,GE,107.444253,46.779710
2553,2021-12-31,GM,58.092879,58.092879,59.112446,58.157825,0.912700,0.840300,36.571905,GM,91.781635,57.991197
1727,2021-12-31,CSCO,57.557663,57.557663,55.802428,54.908326,0.410549,0.346714,47.921398,CSCO,81.146743,40.983387
767,2021-12-31,BA,200.457728,200.457728,208.148151,211.447179,2.765907,3.016363,185.325237,BA,271.090217,35.235603
...,...,...,...,...,...,...,...,...,...,...,...,...
3573,2021-12-31,MCD,260.332697,260.332697,254.828519,250.056727,1.578493,1.115613,269.771426,MCD,292.276800,12.270492
3513,2021-12-31,MA,345.054475,345.054475,343.177351,345.353331,3.161761,3.817266,349.328097,MA,419.497614,21.574315
887,2021-12-31,BK,54.847118,54.847118,55.625538,55.224109,0.555738,0.518135,44.357665,BK,82.584911,50.572927
3753,2021-12-31,MET,60.293025,60.293025,61.312488,62.158335,0.682040,0.540305,73.146191,MET,89.255067,48.035478
6093,2021-12-31,SPY,466.405002,466.405002,466.080359,458.961985,2.602269,3.164093,390.379047,SPY,524.989359,12.560834

In [35]:
# Find model's predicted 1 year return for SPY
SPY_prediction = all_stock_data_2021[['Ticker', 'predicted_percent_return']]
SPY_prediction = SPY_prediction[all_stock_data_2021["Ticker"] == "SPY"]
SPY_prediction

     Ticker  predicted_percent_return
6093    SPY                 12.560834

In [36]:
# Get tickers of stocks predicted to beat SPY by 10% or more
def get_tickers(df):
    return df[df['predicted_percent_return'] > 22.56]['Ticker'].tolist()
prediction = get_tickers(all_stock_data_2021)
prediction

['GE',
 'GM',
 'CSCO',
 'BA',
 'GILD',
 'BMY',
 'CVS',
 'COP',
 'CRM',
 'BKNG',
 'CL',
 'DOW',
 'CHTR',
 'XOM',
 'CMCSA',
 'DUK',
 'AXP',
 'EMR',
 'EXC',
 'BAC',
 'F',
 'COF',
 'C',
 'DIS',
 'CVX',
 'AMZN',
 'NVDA',
 'ADBE',
 'ORCL',
 'PFE',
 'PM',
 'PYPL',
 'QCOM',
 'RTX',
 'SBUX',
 'SCHW',
 'SO',
 'WFC',
 'ABT',
 'T',
 'TGT',
 'TMUS',
 'TSLA',
 'WBA',
 'TXN',
 'UPS',
 'USB',
 'AAPL',
 'SPG',
 'NKE',
 'NEE',
 'GOOGL',
 'HON',
 'INTC',
 'JPM',
 'KHC',
 'WMT',
 'KO',
 'LLY',
 'VZ',
 'MS',
 'AIG',
 'MRK',
 'MO',
 'GOOG',
 'META',
 'AMD',
 'MDT',
 'MDLZ',
 'BK',
 'MET']

In [37]:
real = ['ABBV', 'AMGN', 'BA', 'BMY', 'BRK-B', 'CAT', 'CL', 'DUK', 'EMR', 'EXC', 'GILD', 'HON', 'IBM', 
        'JNJ', 'KHC', 'KO', 'LIN', 'MCD', 'MET', 'MO', 'MRK', 'ORCL', 'PEP', 'PG', 'PM', 'WMT']

In [38]:
# Find the  precision, recall, and f1_score of the model
calculate_metrics(real, prediction)

(0.22535211267605634, 0.6153846153846154, 0.3298969072164949)

In [47]:
new_all_stock_data_num

,Date,Close,1msma,2msma,3msma,Upper_shadow,Lower_shadow,Future_1_year_close
2,1522454400,41.651224,41.651224,40.808282,40.993982,0.418283,0.342469,44.417369
4188,1522454400,312.228097,312.228097,291.835890,272.193292,4.711426,6.830954,359.435713
4128,1522454400,36.097500,36.097500,35.351030,35.112627,0.279482,0.247025,44.779981
4068,1522454400,89.051431,89.051431,88.222365,87.461867,0.941694,0.971363,112.228164
362,1522454400,11.256191,11.256191,11.613095,11.860952,0.202381,0.199524,24.253810
...,...,...,...,...,...,...,...,...
3573,1640908800,260.332697,260.332697,254.828519,250.056727,1.578493,1.115613,269.771426
3513,1640908800,345.054475,345.054475,343.177351,345.353331,3.161761,3.817266,349.328097
887,1640908800,54.847118,54.847118,55.625538,55.224109,0.555738,0.518135,44.357665
3753,1640908800,60.293025,60.293025,61.312488,62.158335,0.682040,0.540305,73.146191
6093,1640908800,466.405002,466.405002,466.080359,458.961985,2.602269,3.164093,390.379047

In [48]:
# Split the data into a training set and a testing set
X = new_all_stock_data_num.drop("Future_1_year_close", axis=1)
y = new_all_stock_data_num['Future_1_year_close']

# Scale the data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# The train size will be from the first 4 years of data. The last year of data will be used to test the model.
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=3420, random_state=42, shuffle=False)

from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(random_state=42) 
regressor.fit(X_train, y_train)

# Evaluate the model
y_pred = regressor.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 10752.381873995848

In [49]:
# reduce df to show only dates where a prediction was made
all_stock_data_2021 = new_all_stock_data_master.drop(new_all_stock_data_master.index[:3420])
all_stock_data_2021

,Date,Ticker,Close,1msma,2msma,3msma,Upper_shadow,Lower_shadow,Future_1_year_close,Ticker2
5481,2020-12-31,UNH,337.709917,337.709917,337.346439,329.945247,3.277274,2.658828,481.319795,UNH
5841,2020-12-31,WBA,40.017852,40.017852,39.059388,37.817841,0.539262,0.561582,49.229091,WBA
2181,2020-12-31,EXC,27.863314,27.863314,28.075124,27.556343,0.260030,0.250917,37.535903,EXC
4281,2020-12-31,NKE,138.263549,138.263549,133.624097,131.250629,0.959233,1.060339,166.628451,NKE
4221,2020-12-31,NFLX,516.569090,516.569090,502.006545,506.384968,5.529087,5.835452,608.484089,NFLX
...,...,...,...,...,...,...,...,...,...,...
3573,2021-12-31,MCD,260.332697,260.332697,254.828519,250.056727,1.578493,1.115613,269.771426,MCD
3513,2021-12-31,MA,345.054475,345.054475,343.177351,345.353331,3.161761,3.817266,349.328097,MA
887,2021-12-31,BK,54.847118,54.847118,55.625538,55.224109,0.555738,0.518135,44.357665,BK
3753,2021-12-31,MET,60.293025,60.293025,61.312488,62.158335,0.682040,0.540305,73.146191,MET
6093,2021-12-31,SPY,466.405002,466.405002,466.080359,458.961985,2.602269,3.164093,390.379047,SPY

In [50]:
# add model's prediction to df
all_stock_data_2021['y_pred'] = y_pred
all_stock_data_2021

,Date,Ticker,Close,1msma,2msma,3msma,Upper_shadow,Lower_shadow,Future_1_year_close,Ticker2,y_pred
5481,2020-12-31,UNH,337.709917,337.709917,337.346439,329.945247,3.277274,2.658828,481.319795,UNH,437.133517
5841,2020-12-31,WBA,40.017852,40.017852,39.059388,37.817841,0.539262,0.561582,49.229091,WBA,59.860292
2181,2020-12-31,EXC,27.863314,27.863314,28.075124,27.556343,0.260030,0.250917,37.535903,EXC,38.257252
4281,2020-12-31,NKE,138.263549,138.263549,133.624097,131.250629,0.959233,1.060339,166.628451,NKE,159.312693
4221,2020-12-31,NFLX,516.569090,516.569090,502.006545,506.384968,5.529087,5.835452,608.484089,NFLX,726.486362
...,...,...,...,...,...,...,...,...,...,...,...
3573,2021-12-31,MCD,260.332697,260.332697,254.828519,250.056727,1.578493,1.115613,269.771426,MCD,323.865458
3513,2021-12-31,MA,345.054475,345.054475,343.177351,345.353331,3.161761,3.817266,349.328097,MA,415.515800
887,2021-12-31,BK,54.847118,54.847118,55.625538,55.224109,0.555738,0.518135,44.357665,BK,62.156779
3753,2021-12-31,MET,60.293025,60.293025,61.312488,62.158335,0.682040,0.540305,73.146191,MET,82.693549
6093,2021-12-31,SPY,466.405002,466.405002,466.080359,458.961985,2.602269,3.164093,390.379047,SPY,643.493027

In [51]:
# only look at laste date, date = 2021-12-31
all_stock_data_2021 = all_stock_data_2021[all_stock_data_2021["Date"] == "2021-12-31"].iloc[:,:]
all_stock_data_2021

,Date,Ticker,Close,1msma,2msma,3msma,Upper_shadow,Lower_shadow,Future_1_year_close,Ticker2,y_pred
1007,2021-12-31,BLK,887.410925,887.410925,899.168083,884.361847,6.306990,7.566394,706.617336,BLK,792.927782
2433,2021-12-31,GE,73.201026,73.201026,77.008791,78.400578,0.833405,0.830549,64.411289,GE,109.823696
2553,2021-12-31,GM,58.092879,58.092879,59.112446,58.157825,0.912700,0.840300,36.571905,GM,80.384411
1727,2021-12-31,CSCO,57.557663,57.557663,55.802428,54.908326,0.410549,0.346714,47.921398,CSCO,61.541060
767,2021-12-31,BA,200.457728,200.457728,208.148151,211.447179,2.765907,3.016363,185.325237,BA,229.507137
...,...,...,...,...,...,...,...,...,...,...,...
3573,2021-12-31,MCD,260.332697,260.332697,254.828519,250.056727,1.578493,1.115613,269.771426,MCD,323.865458
3513,2021-12-31,MA,345.054475,345.054475,343.177351,345.353331,3.161761,3.817266,349.328097,MA,415.515800
887,2021-12-31,BK,54.847118,54.847118,55.625538,55.224109,0.555738,0.518135,44.357665,BK,62.156779
3753,2021-12-31,MET,60.293025,60.293025,61.312488,62.158335,0.682040,0.540305,73.146191,MET,82.693549
6093,2021-12-31,SPY,466.405002,466.405002,466.080359,458.961985,2.602269,3.164093,390.379047,SPY,643.493027

In [52]:
# show model's predicted 1 year return for all stocks
all_stock_data_2021['predicted_percent_return'] = (all_stock_data_2021['y_pred'] - all_stock_data_2021['Close']) / all_stock_data_2021['Close'] * 100
all_stock_data_2021

,Date,Ticker,Close,1msma,2msma,3msma,Upper_shadow,Lower_shadow,Future_1_year_close,Ticker2,y_pred,predicted_percent_return
1007,2021-12-31,BLK,887.410925,887.410925,899.168083,884.361847,6.306990,7.566394,706.617336,BLK,792.927782,-10.647057
2433,2021-12-31,GE,73.201026,73.201026,77.008791,78.400578,0.833405,0.830549,64.411289,GE,109.823696,50.030270
2553,2021-12-31,GM,58.092879,58.092879,59.112446,58.157825,0.912700,0.840300,36.571905,GM,80.384411,38.372227
1727,2021-12-31,CSCO,57.557663,57.557663,55.802428,54.908326,0.410549,0.346714,47.921398,CSCO,61.541060,6.920706
767,2021-12-31,BA,200.457728,200.457728,208.148151,211.447179,2.765907,3.016363,185.325237,BA,229.507137,14.491538
...,...,...,...,...,...,...,...,...,...,...,...,...
3573,2021-12-31,MCD,260.332697,260.332697,254.828519,250.056727,1.578493,1.115613,269.771426,MCD,323.865458,24.404449
3513,2021-12-31,MA,345.054475,345.054475,343.177351,345.353331,3.161761,3.817266,349.328097,MA,415.515800,20.420348
887,2021-12-31,BK,54.847118,54.847118,55.625538,55.224109,0.555738,0.518135,44.357665,BK,62.156779,13.327340
3753,2021-12-31,MET,60.293025,60.293025,61.312488,62.158335,0.682040,0.540305,73.146191,MET,82.693549,37.152762
6093,2021-12-31,SPY,466.405002,466.405002,466.080359,458.961985,2.602269,3.164093,390.379047,SPY,643.493027,37.968724

In [53]:
# Find model's predicted 1 year return for SPY
SPY_prediction = all_stock_data_2021[['Ticker', 'predicted_percent_return']]
SPY_prediction = SPY_prediction[all_stock_data_2021["Ticker"] == "SPY"]
SPY_prediction

     Ticker  predicted_percent_return
6093    SPY                 37.968724

In [54]:
# Get tickers of stocks predicted to beat SPY by 10% or more
def get_tickers(df):
    return df[df['predicted_percent_return'] > 47.97]['Ticker'].tolist()
prediction = get_tickers(all_stock_data_2021)
prediction

['GE', 'CRM', 'EMR', 'F', 'COF', 'T', 'GOOG', 'AMD']